/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer {
  margin-bottom: 16px;
}
.footer-link {
  color: #4997d7;
}

.weatherApp {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px 20px rgba(65, 50, 100, 0.08);
}

.enterLocation {
  margin: 15px 0;
  padding: 12px;
  color: rgb(62, 60, 60);
}

/* Typography */
#description:first-letter {
  text-transform: capitalize;
}
.currentDayTime {
  font-size: 30px;
  color: rgb(62, 60, 60);
  padding-left: 15px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.enteredCityState {
  font-size: 30px;
  color: rgb(62, 60, 60);
  padding-left: 24px;
  font-weight: 700;
}

.units {
  position: relative;
  font-size: 18px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-max {
  color: #ff69b4;
}
.weather-forecast-temperature-min {
  color: #ff69b4;
  opacity: 0.7;
}

.btn-outline-primary {
  border-color: #4997d7;
}
.btn {
  color: #4997d7;
}
.btn:hover {
  background-color: #4997d7;
  border-color: #4997d7;
}

.currentWind #wind,
.currentHumidity #humidity {
  color: #ff69b4;
}

.currentWind .unit,
.currentHumidity .unit {
  color: #ff69b4;
}
.currentLocationTemp {
  text-align: right;
  margin-right: 30px;
}

.current {
  margin: 0 10px 5px 0;
  text-align: right;
  color: rgb(62, 60, 60);
}

.currentTemp {
  text-align: left;
  font-size: 64px;
}
.overview {
  padding-left: 24px;
}
.currentWind,
.currentHumidity {
  color: rgb(62, 60, 60);
}

/* Icons and Images */
#icon {
  position: relative;
  top: -20px;
}

.skyImage,
.sunIcon {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.sunIcon {
  font-size: 40px;
  margin: 20px;
  color: black;
}
.forecast-temp {
  color: #ff69b4;
}

/* Lists */
ul {
  margin-left: 0px;
  padding: 0;
}

li {
  list-style: none;
}
